[MASTER]
max-line-length=200

disable=W0511,consider-using-dict-items,duplicate-code

# https://github.com/samuelcolvin/pydantic/issues/1961#issuecomment-759522422
extension-pkg-whitelist=pydantic
load-plugins=pylint_pydantic
